<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf/.org">
<head>
    <section id="import">
		<div th:replace="fragments/import :: import"></div>
	</section>
	<meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
	<section id="navigation">
		<div th:replace="fragments/navigation :: navbar"></div>
	</section>
		</p>
		<div class="container">
            <section id="listing_list">		
				<div class="e-table">
				  <div class="table-responsive table-lg mt-3">
					<table class="table table-bordered">
					  <thead>
						<tr>
						  <th class="align-top">
							<div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
							  <input type="checkbox" class="custom-control-input" id="all-items">
							  <label class="custom-control-label" for="all-items"></label>
							</div>
						  </th>
						  <th>PRODUCT ID</th>
						  <th class="max-width">DATE</th>
						  <th class="max-width" th:unless="${session.user['role']} eq 'ADMIN'">QUANTITY</th>
						  <th class="max-width">AMOUNT</th>
						  <th class="max-width" th:if="${session.user['role']} eq 'LEADER'">LEADER STATUS</th>
						  <th class="max-width" th:if="${session.user['role']} eq 'ADMIN'">ADMIN STATUS</th>
						  <th class="max-width" th:unless="${session.user['role']} eq 'ADMIN'" >JOINER STATUS</th>
						  <th class="max-width">ACTION</th>
						</tr>
					  </thead>
					  <tbody>
						<tr th:each="list : ${listListings}">
						  <td class="align-middle">
							<div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
							  <input type="checkbox" class="custom-control-input" id="item-1">
							  <label class="custom-control-label" for="item-1"></label>
							</div>
						  </td>
						  <td class="text-nowrap align-middle" th:text="${list.productId}"></td>
						  <td class="text-nowrap align-middle" th:text="${list.DateJoin}"></td>
						  <td class="text-nowrap align-middle" th:unless="${session.user['role']} eq 'ADMIN'" th:text="${list.totalQuantity}"></td>
						  <td class="text-nowrap align-middle" th:text="${list.totalAmount}"></td>
						 <td class="text-nowrap align-middle"  th:if="${session.user['role']} eq 'LEADER'">
						 	<span class="badge badge-pill badge-info" th:text="${list.statusLeader}"></span>
						 </td>
						  <td class="text-nowrap align-middle" th:if="${session.user['role']} eq 'ADMIN'">
						 	<span class="badge badge-pill badge-info" th:text="${list.statusAdmin}"></span>
						 </td>
						  <td class="text-nowrap align-middle" th:unless="${session.user['role']} eq 'ADMIN'">
						 	<span class="badge badge-pill badge-info" th:text="${list.statusJoiner}"></span>
						 </td>
						  <td class="text-center align-middle">
							<div class="btn-group align-top">
								<a type="button" class="btn btn-outline-success" style="float: left;" 
									th:href="@{/join/{pid}/{uid} (pid=${list.productId}, uid=${session.user['userId']})}">Details</a>
							</div>
						  </td>
						</tr>
					  </tbody>
					</table>
				  </div>
				  <div class="d-flex justify-content-center">
					<ul class="pagination mt-3 mb-0">
					  <li class="disabled page-item"><a href="#" class="page-link"><</a></li>
					  <li class="active page-item"><a href="#" class="page-link">1</a></li>
					  <li class="page-item"><a href="#" class="page-link">2</a></li>
					  <li class="page-item"><a href="#" class="page-link">3</a></li>
					  <li class="page-item"><a href="#" class="page-link">4</a></li>
					  <li class="page-item"><a href="#" class="page-link">5</a></li>
					  <li class="page-item"><a href="#" class="page-link">></a></li>
					  <li class="page-item"><a href="#" class="page-link">>></a></li>
					</ul>
				  </div>
				</div>	
			</section>
		</div>

	<section id="footer">
	<!--  <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
	 --> 
		<div th:replace="fragments/footer :: 'footer'"></div>
	</section>
</body>
</html>
