<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf/.org">
<head>
    <section id="import">
		<div th:replace="fragments/import :: import"></div>
	</section>
	<meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
	<section id="navigation">
		<div th:replace="fragments/navigation :: navbar"></div>
	</section>
		</p>
		<div class="container">
            <section id="user_list">		
				<div class="e-table">
				  <div class="table-responsive table-lg mt-3">
					<table class="table table-bordered">
					  <thead>
						<tr>
						  <th class="align-top">
							<div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
							  <input type="checkbox" class="custom-control-input" id="all-items">
							  <label class="custom-control-label" for="all-items"></label>
							</div>
						  </th>
						  <th>ID</th>
						  <th>PRODUCT</th>
						  <th class="max-width">LEADER ID</th>
						  <th class="max-width">STATUS</th>
						  <th class="max-width">CATEGRORY</th>
						  <th class="max-width">ACTION</th>
						</tr>
					  </thead>
					  <tbody>
						<tr th:each="product : ${listProducts}">
						  <td class="align-middle">
							<div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
							  <input type="checkbox" class="custom-control-input" id="item-1">
							  <label class="custom-control-label" for="item-1"></label>
							</div>
						  </td>
						  <td class="text-nowrap align-middle" th:text="${product.productId}"></td>
						  <td class="text-nowrap align-middle" th:text="${product.productName}"></td>
						  <td class="text-nowrap align-middle" th:text="${product.userId}"></td>
						  <td class="text-nowrap align-middle" th:text="${product.category}"></td>
						  <td class="text-nowrap align-middle" th:text="${product.status}"></td>
						  <td class="text-center align-middle">
							<div class="btn-group align-top">
								<a type="button" class="btn btn-outline-success" style="float: left;" th:href="@{/editProduct/{id}(id=${product.productId})}">Edit</a>
								<a type="button" class="btn btn-outline-danger" style="float: right;" th:href="@{/deleteProduct/{id}(id=${product.productId})}">Delete</a>
							</div>
						  </td>
						</tr>
					  </tbody>
					</table>
				  </div>
				  <div class="d-flex justify-content-center">
					<ul class="pagination mt-3 mb-0">
					  <li class="disabled page-item"><a href="#" class="page-link"><</a></li>
					  <li class="active page-item"><a href="#" class="page-link">1</a></li>
					  <li class="page-item"><a href="#" class="page-link">2</a></li>
					  <li class="page-item"><a href="#" class="page-link">3</a></li>
					  <li class="page-item"><a href="#" class="page-link">4</a></li>
					  <li class="page-item"><a href="#" class="page-link">5</a></li>
					  <li class="page-item"><a href="#" class="page-link">></a></li>
					  <li class="page-item"><a href="#" class="page-link">>></a></li>
					</ul>
				  </div>
				</div>	
			</section>
		</div>

	<section id="footer">
	<!--  <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
	 --> 
		<div th:replace="fragments/footer :: 'footer'"></div>
	</section>
</body>
</html>
