<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf/.org">
<head>
    <section id="import">
		<div th:replace="fragments/import :: import"></div>
	</section>
	<meta charset="UTF-8">
    <title>Product Create</title>
</head>
<body>
	<section id="navigation">
		<div th:replace="fragments/navigation :: navbar"></div>
	</section>
	<section id="addProduct">
        <div class="container">
			<h2>Product Create</h2>
			<!-- <form class="form" th:action="@{/saveProduct/{uid}(uid=${myid})}" method="post"> -->
			<form class="form" th:action="@{/saveProduct}" method="post">
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-4">
					<div class="form-group">
					  <label>Product Name</label>
					  <input class="form-control" name="productName" type="text" th:maxlength="50" required>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					  <label>Description</label>
					  <input class="form-control" type="text" name="description" placeholder="Description in 100 words" th:maxlength="100" required>
					  <small id="passwordHelpBlock" class="form-text text-muted">Short description in 100 words.</small>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					<label>Details</label>
					  <textarea class="form-control" name="details" rows="3"></textarea>
					  <small id="passwordHelpBlock" class="form-text text-muted">Explain more details for the product.</small>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-4">
					<div class="form-group">
					<label>URL</label>
					<input class="form-control" name="url" type="text">
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Due Date</label>
					<input class="form-control" name="dueDate" type="date" required>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Category</label>
					  <select name="category" class="form-control" required>
						<option value="" selected>Choose...</option>
						<option value="Stationary">Stationary</option>
						<option value="Cosmetic">Cosmetic</option>
						<option value="Mask">Mask</option>
						<option value="Food">Food</option>
						<option value="Others">Others</option>
					  </select>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Quantity 1 <</label>
					  <input class="form-control" name="firstQuantity" type="number" required>
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Price 1</label>
					  <input class="form-control" name="firstPrice" type="number" required>
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1"> > Quantity 2</label>
					  <input class="form-control" name="secondQuantity" type="number">
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Price 2</label>
					  <input class="form-control" name="secondPrice" type="number">
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1"> > Quantity 3</label>
					  <input class="form-control" name="thirdQuantity" type="number">
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Price 3</label>
					  <input class="form-control" name="thirdPrice" type="number"d>
					</div>
				  </div>
				</div>
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <small id="passwordHelpBlock" class="form-text text-muted"><b>Take Note:</b></small>
				      <small id="passwordHelpBlock" class="form-text text-muted">Price 1 when less than Quantity 1</small>
				      <small id="passwordHelpBlock" class="form-text text-muted">Price 2 when more than Quantity 2</small>
				      <small id="passwordHelpBlock" class="form-text text-muted">Price 3 when more than Quantity 3</small>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col d-flex justify-content-end">
			  	<input  class="btn btn-secondary" value='Back' type='button' onclick='javascript:window.history.back()'/>
				<button class="btn btn-primary" type="submit">Create</button>
			  </div>
			</div>
		  </form>
        </div>
    </section>

	<section id="footer">
	<!--  <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
	 --> 
		<div th:replace="fragments/footer :: 'footer'"></div>
	</section>
</body>
</html>