<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf/.org">
<head>
    <section id="import">
		<div th:replace="fragments/import :: import"></div>
	</section>
	<meta charset="UTF-8">
    <title>Product Update</title>
</head>
<body>
	<section id="navigation">
		<div th:replace="fragments/navigation :: navbar"></div>
	</section>
	<section id="updateProduct">
        <div class="container">
        	
        	<h2>Product Update</h2>
			<form class="form" action="#" th:action="@{/updateProduct/{id} (id=${product.productId})}" th:object="${product}" method="post">
		    <div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-2">
					<div class="form-group">
					  <label>Created Date</label>
					  <input class="form-control" type="text" th:field="*{createdDate}" disabled>
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label>STATUS</label>
					  <input class="form-control" type="text" th:field="*{status}" disabled>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					  <label>Leader Name</label>
					  <input class="form-control" type="text" th:object="${user}" th:field="*{fullName}" disabled>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-4">
					<div class="form-group">
					  <label>Product Name</label>
					  <input class="form-control" type="text" th:field="*{productName}" th:maxlength="50" required>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					  <label>Description</label>
					  <input class="form-control" type="text" th:field="*{description}" th:maxlength="100" required>
					  <small id="passwordHelpBlock" class="form-text text-muted">Short description in 100 words.</small>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					<label>Details</label>
					  <textarea class="form-control" rows="3" th:field="*{details}"></textarea>
					  <small id="passwordHelpBlock" class="form-text text-muted">Explain more details for the product.</small>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-4">
					<div class="form-group">
					<label>URL</label>
					<input class="form-control" type="text" th:field="*{url}">
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Due Date</label>
					<input class="form-control" type="date" th:field="*{dueDate}" required>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Category</label>
					  <select class="form-control" required>
						<option value="">Choose...</option>
						<option value="Stationary" th:selected="('Stationary' == *{category})">Stationary</option>
						<option value="Cosmetic" th:selected="('Cosmetic' == *{category})">Cosmetic</option>
						<option value="Mask" th:selected="('Mask' == *{category})">Mask</option>
						<option value="Food" th:selected="('Food' == *{category})">Food</option>
						<option value="Others" th:selected="('Others' == *{category})">Others</option>
					  </select>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Quantity 1 <</label>
					  <input class="form-control" type="number" th:field="*{firstQuantity}" placeholder="100" required>
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Price 1</label>
					  <input class="form-control" type="number" th:field="*{firstPrice}" placeholder="10" required>
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">> Quantity 2</label>
					  <input class="form-control" type="number" th:field="*{secondQuantity}" placeholder="100">
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Price 2</label>
					  <input class="form-control" type="number" th:field="*{secondPrice}" placeholder="5">
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">> Quantity 3</label>
					  <input class="form-control" type="number" th:field="*{thirdQuantity}" placeholder="-">
					</div>
				  </div>
				  <div class="col-md-2">
					<div class="form-group">
					  <label for="qty1">Price 3</label>
					  <input class="form-control" type="number" th:field="*{thirdPrice}" placeholder="-">
					</div>
				  </div>
				</div>
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <small id="passwordHelpBlock" class="form-text text-muted"><b>Take Note:</b></small>
				      <small id="passwordHelpBlock" class="form-text text-muted">Price 1 when less than Quantity 1</small>
				      <small id="passwordHelpBlock" class="form-text text-muted">Price 2 when more than Quantity 2</small>
				      <small id="passwordHelpBlock" class="form-text text-muted">Price 3 when more than Quantity 3</small>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col d-flex justify-content-end">
			  	<input  class="btn btn-secondary" value='Back' type='button' onclick='javascript:window.history.back()'/>
				<button class="btn btn-primary" type="submit">Update</button>
			  </div>
			</div>
		  </form>
        </div>
    </section>
    

	<section id="footer">
	<!--  <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
	 --> 
		<div th:replace="fragments/footer :: 'footer'"></div>
	</section>
</body>
</html>