<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf/.org">
<head>
    <section id="import">
		<div th:replace="fragments/import :: import"></div>
	</section>
	<meta charset="UTF-8">
    <title>Profile Update</title>
</head>
<body>
	<section id="navigation">
		<div th:replace="fragments/navigation :: navbar"></div>
	</section>
    <section id="updateProfile">
        <div class="container">
		  <h2>Profile</h2>
		  <form class="form" action="#" th:action="@{/updateUser/{id} (id=${user.userId})}" th:object="${user}" method="post">
		    <div class="row" hidden>
			  <div class="col">
				<div class="row">
				  <div class="col-md-2">
					<div class="form-group">
					  <label>ID</label>
					  <input class="form-control" type="text" th:field="*{userId}" disabled>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <label>Register Date</label>
					  <input class="form-control" type="text" th:field="*{dateRegister}" disabled>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					  <label>Role</label>
					  <input class="form-control" type="text" th:field="*{role}" disabled>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <label>Username</label>
					  <input class="form-control" type="text" th:field="*{userName}" disabled>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Email</label>
					  <input class="form-control" type="text" th:maxlength="100" th:field="*{email}">
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <label>Full Name</label>
					  <input class="form-control" type="text" th:maxlength="50" th:field="*{fullName}"required>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Password</label>
					<input class="form-control" type="password" th:field="*{password}">
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					<label>Address</label>
					<input class="form-control" type="text" th:field="*{address}">
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <label>MRT Location</label>
					  <select name="mrt" class="form-control" required>
						<option value="" selected>Choose...</option>
						<option value="East West Line" th:selected="('East West Line' == *{mrt})">East West Line</option>
						<option value="North South Line" th:selected="('North South Line' == *{mrt})">North South Line</option>
						<option value="Circle Line" th:selected="('Circle Line' == *{mrt})">Circle Line</option>
						<option value="Bukit Panjang LRT" th:selected="('Bukit Panjang LRT' == *{mrt})">Bukit Panjang LRT</option>
						<option value="North East Line" th:selected="('North East Line' == *{mrt})">North East Line</option>
						<option value="Downtown Line" th:selected="('Downtown Line' == *{mrt})">Downtown Line</option>
						<option value="Punggol LRT" th:selected="('Punggol LRT' == *{mrt})">Punggol LRT</option>
						<option value="Sengkang LRT" th:selected="('Sengkang LRT' == *{mrt})">Sengkang LRT</option>
					  </select>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					  <label>Contact</label>
					  <input class="form-control" type="text" th:maxlength="8" th:field="*{contact}" required>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col">
				<div class="row">
				  <div class="col">
					<div class="form-group">
					  <label>Paynow Name</label>
					  <input class="form-control" type="text" th:maxlength="50" th:field="*{paynowName}" required>
					</div>
				  </div>
				  <div class="col">
					<div class="form-group">
					<label>Paynow Mobile</label>
					  <input class="form-control" type="text" th:maxlength="8" th:field="*{paynowMobile}" required>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col d-flex justify-content-end">
				<input  class="btn btn-secondary" value='Back' type='button' onclick='javascript:window.history.back()'/>
				<button class="btn btn-primary" type="submit">Update</button>
			  </div>
			</div>
		  </form>
		  <div class="row">
			  <div class="col d-flex justify-content-end" th:if="${user.role} eq 'USER'">
			  	<div th:if="${user.requestLeader} eq false">
			  		<form class="form-row" th:action="@{/requestLeader/{id} (id=${user.userId})}" method="post">
						<button type="submit" class="btn btn-outline-primary" style="float: left;">Request Leader Role</button>
					</form>
				</div>
			  </div>
		  </div>
		</div>
	</section>

	<section id="footer">
	<!--  <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
	 --> 
		<div th:replace="fragments/footer :: 'footer'"></div>
	</section>
</body>
</html>