<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf/.org">
<head>
    <section id="import">
		<div th:replace="fragments/import :: import"></div>
	</section>
	<meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
	<section id="navigation">
		<div th:replace="fragments/navigation :: navbar"></div>
	</section>
		</p>
		<div class="container">
            <section id="user_list">		
				<div class="e-table">
				  <div class="table-responsive table-lg mt-3">
					<table class="table table-bordered">
					  <thead>
						<tr>
						  <th class="align-top">
							<div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
							  <input type="checkbox" class="custom-control-input" id="all-items">
							  <label class="custom-control-label" for="all-items"></label>
							</div>
						  </th>
						  <th>ID</th>
						  <th class="max-width">USER NAME</th>
						  <th class="max-width">EMAIL</th>
						  <th class="max-width">ACTIVE</th>
						  <th class="max-width">ROLE</th>
						  <th class="max-width">LEADER REQUST</th>
						  <th class="max-width">Edit</th>
						</tr>
					  </thead>
					  <tbody>
						<tr th:each="user : ${listUsers}">
						  <td class="align-middle">
							<div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
							  <input type="checkbox" class="custom-control-input" id="item-1">
							  <label class="custom-control-label" for="item-1"></label>
							</div>
						  </td>
						  <td class="text-nowrap align-middle" th:text="${user.userId}"><a th:href="@{/users/(id=${user.userId})}" class="link-primary">User ID</a></td>
						  <td class="text-nowrap align-middle" th:text="${user.userName}">User Name</td>
						  <td class="text-nowrap align-middle" th:text="${user.email}">Full Name</td>
						  <td class="text-center align-middle" th:text="${user.isActive}"></td>
						  <td class="text-center align-middle" th:text="${user.role}"></td>
						  <td class="text-center align-middle">
						  <div th:if="${user.role} eq 'USER' or ${user.role} eq 'LEADER'">
							<div class="form-row btn-group align-top">
								<form th:if="${user.requestLeader} eq true" th:action="@{/approveLeader/{id}(id=${user.userId})}" method="post">
									<button type="submit" class="btn btn-outline-success" style="float: left;">Approve</button>
								</form>
								<form th:if="${user.requestLeader} eq true or ${user.requestLeader} eq null" th:action="@{/rejectLeader/{id}(id=${user.userId})}" method="post">
									 <button type="submit" class="btn btn-outline-danger" style="float: right;">Reject</button>
								</form>
							</div>
						  </div>
						  </td>
						  <td class="text-center align-middle">
							<div class="btn-group align-top">
								<a type="button" class="btn btn-outline-success" style="float: left;" th:href="@{/editUser/{id}(id=${user.userId})}">Edit</a>
								<a type="button" th:unless="${user.role} eq 'ADMIN' or ${user.isActive} eq false" class="btn btn-outline-danger" style="float: right;" th:href="@{/deleteUser/{id}(id=${user.userId})}">Delete</a>
							</div>
						  </td>
						</tr>
						
					  </tbody>
					</table>
				  </div>
				  <div class="d-flex justify-content-center">
					<ul class="pagination mt-3 mb-0">
					  <li class="disabled page-item"><a href="#" class="page-link"><</a></li>
					  <li class="active page-item"><a href="#" class="page-link">1</a></li>
					  <li class="page-item"><a href="#" class="page-link">2</a></li>
					  <li class="page-item"><a href="#" class="page-link">3</a></li>
					  <li class="page-item"><a href="#" class="page-link">4</a></li>
					  <li class="page-item"><a href="#" class="page-link">5</a></li>
					  <li class="page-item"><a href="#" class="page-link">></a></li>
					  <li class="page-item"><a href="#" class="page-link">>></a></li>
					</ul>
				  </div>
				</div>	
			</section>
		</div>

	<section id="footer">
	<!--  <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">
	 --> 
		<div th:replace="fragments/footer :: 'footer'"></div>
	</section>
</body>
</html>